
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 100% 98%; /* #fffaf5 */
    --foreground: 24 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 24 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 6% 10%;
    --primary: 348 83% 47%; /* #c52d49 */
    --primary-foreground: 0 0% 98%;
    --secondary: 47 20% 91%;
    --secondary-foreground: 24 6% 10%;
    --muted: 47 20% 91%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 348 63% 67%; /* #e17c8d */
    --accent-foreground: 24 6% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 47 20% 88%;
    --input: 47 20% 88%;
    --ring: 348 83% 47%;
    --radius: 0.5rem;
    --chart-1: 348 83% 47%; /* primary */
    --chart-2: 348 63% 67%; /* accent */
    --chart-3: 348 83% 70%;
    --chart-4: 348 63% 80%;
    --chart-5: 348 83% 55%;
    --sidebar-background: 24 10% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 348 83% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 24 10% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 24 10% 25%;
    --sidebar-ring: 348 83% 60%;
  }

  .dark {
    --background: 24 6% 10%;
    --foreground: 0 0% 98%;
    --card: 24 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 24 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 348 83% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 24 6% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 24 6% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 348 73% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 6% 25%;
    --input: 24 6% 25%;
    --ring: 348 83% 57%;
    --chart-1: 0 0% 98%;
    --chart-2: 348 73% 47%;
    --chart-3: 0 0% 70%;
    --chart-4: 348 73% 27%;
    --chart-5: 0 0% 50%;
    --sidebar-background: 24 6% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 348 83% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 24 10% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 24 10% 20%;
    --sidebar-ring: 348 83% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
}

main { margin-left: 0 !important; width: 100% !important; }
body:has(aside) main { margin-left: 256px !important; width: calc(100% - 256px) !important; }
aside { position: fixed !important; left: 0; top: 0; width: 256px !important; height: 100vh; }
